<ul class="nav-list">
  <li class='nav-list-item nav-greeting'> Hello, <%= current_user.username %></li>
  <% if current_user.admin %>
    <li class='nav-list-item'> <%= link_to "Admin Dashboard", admin_preparations_path %> </li>
  <% else %>
    <li class='nav-list-item'> <%= link_to "Prepare", user_path(current_user.id) %></li>
  <% end %>
  <li class='nav-list-item'>
    <a href="/sign-out"> Sign Out </a>
  </li>
</ul>
