<div class="nav-list">
  <li class='nav-list-item'>
    <a href="./about"> About </a>
  </li>
  <li class='nav-list-item'>
    <a href="./sign-in"> Log In </a>
  </li>
  <li class='nav-list-item'>
    <a href="./sign-up"> Sign Up </a>
  </li>
</div>
