<%# if @contact %>
  <h2 class="title" style="border-top: 1px solid black; padding-top: 10px"> Contacts </h2>
  <p class="description description-form">
    Add a record for each person you will need to connect with after an earthquake
    has taken place.
  </p>

  <h3 class="title"> Add a Contact </h3>
  <div class="create-contact-form">

  </div>
<%# end %>
