<h2 class="title"> Dependents </h2>
<p class="description description-form">
  Add a record for each member of your household for whom you will be
  responsible during an emergency (including spouse/partner). Pets are
  also considered dependents and can be added with the 'Add Pet' button.
</p>
