/////// links ///////
a {
  text-decoration: none;
}

a:visited {
  color: $grey-color;
}

a:hover {
  color: white;
}

/////// titles ///////
.title {
 // TBD
}

.title-page {
  // TBD
}

.title-assessment {
  padding: rem(12) rem(16);
  margin: 0;
  border-bottom: 1px solid $grey-color-light;
}

.title-form {

}

/////// descriptions ///////
