/////// links ///////
a {
  text-decoration: none;
  color: $default-link-color;
}

/////// titles ///////
.title {
  // TBD
}

.title-page {
  padding: 0 rem(8);
}

.title-logo-text {
  font-size: rem(20);
  padding-left: rem(2);
  display: inline;
  float: right;
}

.title-assessment {
  padding: rem(12) rem(16);
  margin: 0;
  border-bottom: 1px solid $grey-color-light;
}

.title-form {
  // margin: rem(8) 0;
}

.title-form-header {
  text-align: center;
  display: inline;
}

.title-form-section {
  margin: rem(8) 0;
  display: inline-block;
  color: black;
}

.title-hero {
  text-align: center;
  color: white;

  @include media($small-up) {
    font-size: rem(24)
  }

  @include media($medium-up) {
    font-size: rem(32);
  }
}

.title-card-home {
  text-align: center;
  border-top-color: 1px solid $grey-color-light;
  margin: 0;

  @include media($small-up) {
    padding: rem(8) 0;
    font-size: rem(20);
  }
}

.title-userprep-breadcrumbs {
  font-size: rem(12);
  margin: 0;
}

.title-userprep {
  &.completed-true {
    text-decoration: line-through;
    color: $grey-color;
  }
}

/////// descriptions ///////
.description-detailed-home {
  text-align: center;
  font-weight: normal;
  font-size: rem(20);
}

.description-card-home {
  height: ($card-home-min-height * .4);
  margin: 0 rem(8);
  text-align: center;

  @include media($small-up) {
    font-size: rem(18);
  }

  @include media($medium-up) {
    font-size: rem(18);
  }
}

/////// copy ///////
.copy-block {
  // TBD
}

.copy-about {
  // TBD
}
