/////// links ///////
a {
  text-decoration: none;
}

a:visited {
  color: $grey-color;
}

a:hover {
  color: white;
}

/////// titles ///////
.title {
 // TBD
}

.title-page {
  // TBD
}

.title-assessment {
  // TBD
}

/////// descriptions ///////
