<h1 class="title title-page"> About Ready City </h1>
<div class="wrapper wrapper-about">
  <div class="copy-block">
    <h2 class="title title-about"> Features </h2>
    <p class="copy copy-about">
      There are many features of Ready City yet to be developed! Upcoming features include:
    </p>
    <ul>
      <li> links to purchase recommended emergency equipment </li>
      <li> assistance to help you budget for emergency equipment </li>
      <li> detailed instructions of how to react during an earthquake </li>
      <li> printable lists of gear, contacts and reaction steps </li>
      <li> information about location-specific natural disaster risks</li>
      <li> links to official governemtn recommendations for emergency preparation </li>
      <li> and more! </li>
    </ul>
    <p class="copy copy-about">
      Potential employers and collaborators are welcome to see more deatils by
      joining the project's task management board on PivotalTracker – just
      <a href="mailto:weston.adler@gmail.com"> shoot us a request </a>.
    </p>
  </div>
  <div class="copy-block">
    <h2 class="title title-about"> Technology </h2>
    <p class="copy copy-about">
      This app is built with Rails and React/Redux. Details can be found at the official
      <a href="github.com/danieladler/ready-city">Github repo</a>.
    </p>
  </div>
  <div class="copy-block">
    <h2 class="title title-about"> FAQ </h2>
    <p class="copy copy-about">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div>
