<h1 class="title title-page"> About Ready City </h1>
<div class="wrapper wrapper-about">
  <div class="copy-block">
    <h2 class="title title-about"> Features </h2>
    <p class="copy copy-about">
      There are many features of Ready City yet to be developed! Upcoming features include:
    </p>
    <ul>
      <li> links to purchase recommended emergency equipment </li>
      <li> assistance to help you budget for emergency equipment </li>
      <li> detailed instructions of how to react during an earthquake </li>
      <li> printable lists of gear, contacts and reaction steps </li>
      <li> information about location-specific natural disaster risks</li>
      <li> links to official governemtn recommendations for emergency preparation </li>
      <li> and more! </li>
    </ul>
    <p class="copy copy-about">
      Potential employers and collaborators are welcome to see more deatils by
      joining the project's task management board on PivotalTracker – just
      <a href="mailto:weston.adler@gmail.com"> shoot us a request </a>.
    </p>
  </div>
  <div class="copy-block">
    <h2 class="title title-about"> Technology </h2>
    <p class="copy copy-about">
      This app is built with Rails and React/Redux. Details can be found at the official
      <a href="github.com/danieladler/ready-city">Github repo</a>.
    </p>
  </div>
  <div class="copy-block">
    <h2 class="title title-about"> FAQ </h2>
    <ul class="list list-about-faq">
      <li>
        <span class="faq-question"> Is Ready City meant to help users prepare for all types of natural disasters? </span>
        <div class="faq-answer">
          Currently, the focus of Ready City is preparation for earthquakes. While most of the preparations and recommendations are best practices for many
          types of natural disasters, earthquakes are emphasized and unique preparations for other disasters will be included in the future.
        </div>
      </li>
      <li>
        <span class="faq-question"> Where do the preparations and recommendations come from? </span>
        <div class="faq-answer">
          All general recommendations come fromeither FEMA, CDC, or Red Cross. Specific gear recommendations come from [TBD].
        </div>
      </li>
    </ul>
  </div>
</div>
