<%= render 'layouts/hero' %>

<div class="wrapper wrapper-cards-home">
    <p class="description description-detailed-home">
      Preparing for natural disasters takes time, energy and money.
      <br />
      Ready City gives you a personalized, prioritized set of
      instructions so that you can be more prepared in less time.
    </p>
  <div class="card-home">
    <div class="image-card-home image-card-home-assess">
      &nbsp;
    </div>
    <h3 class="title title-card-home"> Assess </h2>
    <p class="description description-card-home">
      Your life is unique, and your disaster preparedness plan should reflect that. Complete a simple assessment of your home, dependents, contacts and where you spend time, and you'll be on your way.
    </p>
  </div>
  <div class="card-home">
    <div class="image-card-home image-card-home-prepare">
      &nbsp;
    </div>
    <h2 class="title title-card-home"> Prepare </h2>
    <p class="description description-card-home">
      Ready.city generates a personalized, prioritized to-do list of preparations: what to buy, how to secure your home, and what to expect. Complete essential tasks first and move on as time, energy and finances allow.
    </p>
  </div>
  <div class="card-home">
    <div class="image-card-home image-card-home-react">
      &nbsp;
    </div>
    <h2 class="title title-card-home"> React </h2>
    <p class="description description-card-home">
      If a natural disaster strikes, you're going to want an action plan. As you finish preparation tasks, your plan is updated with reminders about how to stay safe, where to go, and who to contact.
    </p>
  </div>
</div>
