<%= render 'layouts/hero' %>

<div class="wrapper wrapper-cards-home">
  <div class="card-home">
    <div class="image-card-home">
      &nbsp;
    </div>
    <h2 class="title title-card-home"> Card </h2>
    <p class="description description-card-home">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    </p>
  </div>
  <div class="card-home">
    <div class="image-card-home">
      &nbsp;
    </div>
    <h2 class="title title-card-home"> Card </h2>
    <p class="description description-card-home">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    </p>
  </div>
  <div class="card-home">
    <div class="image-card-home">
      &nbsp;
    </div>
    <h2 class="title title-card-home"> Card </h2>
    <p class="description description-card-home">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    </p>
  </div>
</div>
