#header {
  background-color: none;
  margin: 0;
  height: $header-height;
  z-index: $z-index-header;
  position: relative;

  a, a:visited {
    // color: $grey-color-light;
    color: white;
  }

  a:hover {
    color: $gold-color;
  }
}
