.hero {
  position: absolute;
  top: 0;
  left: 0;
  height: rem(480);
  width: 100%;
  z-index: -999;

  background-color: lighten(blue, 40%);
  background-image: image-url('dev-images/pexels-photo-29251.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
