#navigation {
  background-color: gray;
  margin: 0;
  height: 60px;
}

.nav-content-wrapper {
  @include outer-container;
}

.logo {
  @include span-columns(1);

  float: left;
  padding: 16px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  background-color: orange;
}

.nav-right {
  float: right;
  list-style-type: none;
  margin: 0;
  @include padding(20px 15px 0 0);
}

.nav-right-child {
  display: inline;
  padding: 0 10px;
}
