.button {
  font-weight: bold;
}

.button-form {
  border: none;
  text-align: center;
  text-transform: uppercase;
  color: $grey-color-light-plus;
}

.button-sign-in {
  font-size: $sign-in-form-font-size;
  font-weight: 400;
  border: none;
  text-transform: uppercase;
  padding: 0 rem(8);
  background-color: transparent;
  width: 100%;
  text-align: left;
}

.button-submit {
  color: $green-color;

  &:hover {
    background: $green-color-light;
  }
}

.button-delete {
  color: $red-color;

  &:hover {
    background: $red-color-light;
  }
}

.button-hero {
  padding: rem(8) rem(16);
  border-radius: rem(2);
}

.button-cta {
  font-size: rem(20);
  font-weight: normal;
  background-color: $green-color;
  border: 0;

  a {
    color: white;
  }

  &:hover {
    background-color: lighten(blue, 15%);
  }
}
