.card-home {
  background-color: $blue-color-light;
  border-radius: rem(2);

  @include media($small-up) {
    @include span-columns(12);
    margin: rem(16) 0;
    min-height: $card-home-min-height;
  }

  @include media($medium-up) {
    @include span-columns(4);
    min-height: $card-home-min-height * 1.25;
  }

  @include media($large-up) {
    min-height: $card-home-min-height * 1.5;
  }

  @include media($x-large-up) {
    min-height: $card-home-min-height * 1.25;
  }

}

.image-card-home {
  height: ($card-home-min-height * .6);
  background-size: cover;
  border-top-left-radius: rem(2);
  border-top-right-radius: rem(2);
}

.image-card-home-assess {
  background-image: url("https://s3-us-west-2.amazonaws.com/ready-city/assess_sm.jpg");
}

.image-card-home-prepare {
  background-image: url("https://s3-us-west-2.amazonaws.com/ready-city/prepare_sm.jpg");
}

.image-card-home-react {
  background-image: url("https://s3-us-west-2.amazonaws.com/ready-city/ready_sm.jpg");
}
