// forms
.form {
  // TBD
}

.form-sign-in {
  // TBD
}

.form-assessment {
  // TBD
  // NOTE: replace the two below with just this selector?
}

.form-create-instance {
  // TBD
}

.form-update-instance {
  // TBD
}

.form-group {
  padding-bottom: rem(12);

  .label-assessment-form {
    display: block;
    font-size: rem(10);
    color: $grey-color;
  }

  .input-assessment-form {
    font-size: rem(12);
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid $grey-color-light;
  }
}


.form-group-stretch {
  border-bottom: 1px solid $grey-color-light;
  padding: rem(16) 0;
}

.form-group-submit {
  background-color: $green-color;

  &:hover {
    background-color: $green-color-dark;
  }
}

// inputs
.input-clear {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid $grey-color-light-plus;
}

.input-stretch {
  width: 100%;
  padding: 0 rem(8);
  border: none;
}

.input-sign-in {
  font-size: $sign-in-form-font-size;
}

// expander for Create[Instance]Forms

.expander-trigger {
  &:before {
    content: "\25BA";
    padding-right: rem(4);
  }

  &.expander-showing:before {
    content: "\25BC";
    padding-right: rem(4);
  }
}

.expander-hidden + .expander-content {
  display: none;
}
