.nav-primary {
  @include outer-container;
  height: $header-height;
}

.logo {
  height: $header-height;
  float: left;
  padding: 16px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  background-color: $orange-color;
  color: white;
}

.nav-right {
  height: $header-height;
  float: right;
  margin: 10px 0;
  padding: 5px 0;
}

.nav-list {
  margin: 4px 0;
}

.nav-list-item, .nav-right-child {
  list-style-type: none;
  display: inline;
  padding: 10px;
}
