@include media($small-up) {
  .nav-secondary {
    width: 100%;
    height: $header-height - rem(16);
    background-color: $green-color;
    margin-bottom: rem(16);

    .nav-list-item {
      display: inline;
      padding: rem(10);
      font-size: rem(18);
      float: left;
    }
  }
}

.nav-secondary-link:first-child {
  margin-left: rem(16);
}

.nav-secondary-link,
.nav-secondary-link:visited, {
  color: white;
}

.nav-secondary-link:hover {
  background-color: $green-color-dark;
}

.nav-secondary-link.active {
  border-bottom: rem(4) solid white;
  padding-bottom: rem(8);
}
