.wrapper {
  @include outer-container;

  @include media($small-up) {
    padding: 0 rem(16);
  }
}

.wrapper-flash {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-index-wrapper-flash;
  width: 100%;
  margin-top: $header-height;
}

.wrapper-about {
  @include media($small-up) {
    @include span-columns(12);
  }

  @include media($medium-up) {
    @include shift(2);
    @include span-columns(8);
  }

  background: white;
  padding: 0 rem(16);
}

.wrapper-sign-in,
.wrapper-sign-up {
  @include media($small-up) {
    @include span-columns(12);
  }

  @include media($medium-up) {
    @include shift(3);
    @include span-columns(6);
  }

  background: white;
  margin-top: rem(48);
}

.wrapper-stretch {
  padding: 0;
}

.wrapper-assessment {
  box-shadow: $box-shadow-default;
  background-color: white;
  margin-bottom: rem(32);

  @include media($small-up) {
    @include span-columns(12);
  }

  @include media($medium-up) {
    @include shift(2);
    @include span-columns(8);
  }
}

.wrapper-instance {
  padding: rem(16) 0 rem(16) rem(16);
  // @include span-columns(4);

  @include media($small-up) {
    @include span-columns(12);
  }

  @include media($medium-up) {
    @include span-columns(4);
    @include omega();
  }
}

.wrapper-create-form {
    @include span-columns(12);
    padding: 0 rem(16) rem(16) rem(16);
    border-top: 1px solid $grey-color-light;
}

.wrapper-prepare {
  padding-bottom: rem(32);
}

.wrapper-profile {
  // TBD
}

.wrapper-userpreps {
  display: flex;
  background: white;
  box-shadow: $box-shadow-default;
  padding: 0;
}

.wrapper-hero-content {
  @include outer-container;
  padding-top: $header-height;
  height: 100%;
}

.wrapper-hero-button {
  text-align: center;
}

.wrapper-cards-home {
  margin-top: ($hero-height - $header-height);
  padding-top: rem(16);

  @include media($small-up) {
    @include span-columns(12);
  }

  @include media($large-up) {
    @include shift(2);
    @include span-columns(8);
  }
}
