// typography
$base-font-family: "Cabin", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$sign-in-form-font-size: rem(18);

// color scheme
$grey-color: hsl(0, 0%, 50%);
$grey-color-light: lighten($grey-color, 30%);
$grey-color-light-plus: lighten($grey-color, 45%);
$grey-color-dark:  darken($grey-color, 25%);

$orange-color: hsl(35, 100%, 50%);
$orange-color-light: lighten($orange-color, 30%);
$orange-color-dark: darken($orange-color, 25%);

$error-color: red;
$success-color: green;

$green-color: hsl(150, 85%, 35%);
$green-color-light: lighten($green-color, 30%);
$green-color-dark: darken($green-color, 10%);

$red-color: hsl(0, 100%, 50%);
$red-color-light: lighten($red-color, 30%);

$blue-color: hsl(210, 45%, 45%);
$blue-color-light: lighten($blue-color, 35%);

$gold-color: hsl(50, 95%, 60%);

$default-link-color: $blue-color;

// decorating modules & components
$box-shadow-default: 0px 1px 1.5px 0.5px rgba(133,133,133,1);

// spatial relationships
$header-height: rem(60);
$hero-height: rem(480);
$card-home-min-height: rem(336);
$z-index-header: 999;
$z-index-wrapper-flash: 999;
