.navigation {
  font-family: cursive;
}

.main-content {
  color: red;
  @include outer-container;
}

.form {
  border: 1px solid blue;
}

.form-create-instance {
  color: green;
  font-family: serif;
}

.wrapper-assessment {
  @include span-columns(12);
}
