<% if flash %>
  <div class="flash-wrapper" style="width: 100%; margin: 0 auto; text-align: center">
    <% flash.each do |key, value| %>
      <div class="flash-message flash-<%= key %>"><%= value %></div>
    <% end %>
  </div>
<% end %>
