<div class="hero">
  <div class="wrapper-hero-content">
    <h1 class="title title-hero"> Natural disaster preparation on your terms. </h1>
    <div class="wrapper-hero-button">
      <button class="button button-hero button-cta"> <a href="./sign-up">Get Started</a></button>
    </div>
  </div>
</div>
