<header id="header">
  <div class="nav-primary">
    <a href="/">
      <div class="logo">
        <i class="fa fa-life-ring fa-2x"></i>
        <span class="title title-logo-text">R<br />C</span>
      </div>
    </a>
    <% if logged_in? %>
      <div class='nav-right'>
        <ul class="nav-list">
          <li class='nav-list-item nav-greeting'> Hello, <%= current_user.username %></li>
          <% if current_user.admin %>
            <li class='nav-list-item'> <%= link_to "Admin Dashboard", admin_preparations_path %> </li>
          <% else %>
            <li class='nav-list-item'> <%= link_to "Profile", user_path(current_user.id) %></li>
            <li class='nav-list-item'> <%= link_to "Prepare", preparations_overview_path(current_user.id) %></li>
          <% end %>
          <li class='nav-list-item'>
            <a href="/sign-out"> Sign Out </a>
          </li>
        </ul>
      </div>
    <% elsif !logged_in? %>
      <div class="nav-right">
        <a href="./about" class="nav-right-child">
          About
        </a>
        <a href="./sign-in" class="nav-right-child">
          Log In
        </a>
        <a href="./sign-up" class="nav-right-child">
          Sign Up
        </a>
      </div>
    <% end %>
  </div>
</header>
